header 
    h1 Event Planner
    ul 
        li 
            a(href='/') Home
        li 
            a(href='/about') About
        li 
            a(href='/contacts') Contact
        li 
            a(href='#') Login
        li 
            a(href='#') Register 